<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
		        	<li><a href="http://www.dylanneely.com">About</a></li>
	        		<li><a href="/blog">Blog</a></li>
							<li><a href = "/recurrentsands">Granular Sampler</li>
	    		</ul>
			</nav>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:gebrauchsmusikpublishing@gmail.com">email</a></li>
	        		<li><a href="https://github.com/dylanneely">github.com/dylanneely</a></li>
				</ul>
			</footer>
		</body>
	</html>
